* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #778da9;
  color: white;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(16, 38, 58);
}
header {
  position: sticky;
  overflow: auto;
  top: 0;
  width: 100%;
  z-index: 100;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: rgb(110, 110, 164);
  font-size: 1.03rem;
}
main hr {
  border: 0;
  background: rgb(50, 50, 90);
  height: 2px;
  margin: 40px 84px;
}
.left {
  font-size: 1.5rem;
  font-weight: 550;
}
.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 90px 0;
}
.firstsection > div {
  width: 40%;
}

.leftsection {
  font-size: 3rem;
}
.leftsection .btn {
  padding: 12px;
  background: #778da9;
  border: 2px solid rgb(2, 2, 68);
  color: white;
  border-radius: 35px;
  font-size: 15px;
}
.leftsection .btn:hover {
  background-color: white;
  color: rgb(2, 2, 68);
  cursor: pointer;
}

.rightsection img {
  width: 70%;
  border-radius: 48%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.rang {
  color: rgb(10, 10, 78);
}
#grey {
  color: #0f1d29;
}
#element {
  color: rgb(10, 10, 78);
}
.secondsection {
  max-width: 80vw;
  margin: auto;
  height: 100vh;
  padding-top: 50px;
}
.secondsection h1 {
  font-size: xx-large;
  padding-bottom: 35px 0;;
}
.secondsection .bar {
  background: white;
  width: 80vw;
  height: 1.4px;
  margin: 59px 0;
  display: flex;
  justify-content: space-around;
}
.secondsection .I-bar {
  background: white;
  height: 100px;
  width: 1px;
}
.U-text {
  position: relative;
  width: 25px;
  top: -30px;
  left: -20px;
  color: rgb(10, 10, 78);
}
.L-text {
  position: relative;
  top: 82px;
  right: 45px;
  font-size: 0.66rem;
  color: #ced4da;
}
.footer {
  background-color: rgb(42, 42, 91);
  height: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.f2-items,
.f-items ul li {
  list-style: none;
  font-size: small;
}
.f-items ul li a {
  color: white;
  text-decoration: none;
}
.f-items ul li a:hover {
  color: rgb(155, 155, 226);
  font-size: 0.8rem;
}
.f2-items li a {
  color: white;
  text-decoration: none;
}
.f2-items li a:hover {
  color: rgb(155, 155, 226);
  font-size: 0.8rem;
}
.f-h {
  font-size: 25px;
}
.last {
  padding-left: 35vw;
  background: rgb(42, 42, 91);
}
container{
  background-color: rgb(140, 138, 138);
  padding: 45px;
  display: flex;
}
.card{
  background-color: rgb(255, 255, 255);
  width: 300px;
  border-radius: 10px;
  padding: 0 0 20px 0;
  margin: 65px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.content{
  padding: 2px 17px 10px 7px;
  color: rgba(3, 3, 65, 0.901);

}
.content button{
  padding: 2px 10px;
  margin-left: 80px;
  margin-bottom: 10px;
  border-radius: 6px;
  border-style: none;
  cursor: pointer;
  background: rgba(2, 2, 68, 0.91);
  border: 1.5px solid rgb(2, 2, 68);
  color: white;
}
.content h2{
  padding: 15px 0px 5px;
  font-weight:1000;
}
.content button:hover{
  background-color: white;
  color: rgb(2, 2, 68);
  cursor: pointer;
}
.content p{
  font-weight: 500;
  padding-top: 15px;
}
.new{
  width: 370px;
}
.card .center{
  margin-left: 125px;
}
.bind{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.image img{
  border-radius: 15px;
  padding: 7px;
}